#asset-capacity {
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow with 30% opacity */
    
}

#asset-capacity{
    padding: 20px;
}

.assetCapaDiv{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}