.maindiv{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

.toprow, .bottomrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.righttop, .leftbottom{
    width: 40%;
    height: 25%;
    border: 2px solid #2E3E4D;
    border-radius: 20px;
    box-sizing: border-box; /* Include padding and border in the element's dimensions */
    overflow: hidden;
}

.lefttop, .rightbottom{
    width: 60%;
    gap: 20px;
    height: 25%;
    border: 2px solid #2E3E4D;
    border-radius: 20px;
    box-sizing: border-box; /* Include padding and border in the element's dimensions */
    overflow: hidden;
}